<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userSQL">
	
	
	<insert id="write" parameterType="user">
		insert into usertable values(#{name}, #{id}, #{pwd})
	</insert> <!-- 넘어오는 데이터의 자료형-->
	
	<!--같은 이름을 찾아서 매핑을 한다.-->
	<select id="getUserList" parameterType="java.util.Map" resultType="user.bean.UserDTO">
		<![CDATA[
			select *
			from usertable
			limit #{startNum}, #{pageSize}
		]]>
	</select>
	
	
	
	<select id="getUser" parameterType="String" resultType="user">
		select * from usertable where id=#{id}
	</select>
	
	<update id="update" parameterType="user">
		update usertable set name=#{name}, pwd=#{pwd} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete usertable where id=#{id}
	</delete>
	
	
	<!--<select id="search" parameterType="java.util.Map" resultType="user">
    	SELECT * FROM usertable where id like '%' || #{id} || '%' or  name like '%' || #{name} || '%'
	</select>-->
	
	<select id="search" parameterType="java.util.Map" resultType="user">
		<!-- XML -->
    	<!--SELECT * FROM usertable where
    	<if test="columnName == 'name'">
			name like '%' || #{value} || '%'
			
		</if>
		<if test="columnName == 'id'">
			id like '%' || #{value} || '%'
		</if> -->
		
		<!--SELECT * FROM usertable where
    	<choose>다중if문 혹은 스위치문이라고 불림
			<when test="columnName == 'name'">
				name like '%' || #{value} || '%
			</when>
			<otherwise>
				id like '%' || #{value} || '%'
			</otherwise>
		</choose>-->
		SELECT * FROM usertable where ${columnName} like '%' || #{value} || '%'
		
	</select>
	
	<!-- 총 글수 -->
	<select id="getTotalA" resultType="int">
		SELECT count(*) from usertable
	</select>
	
	<!-- 업로드 목록 -->
	<insert id="upload" parameterType="user.bean.UserImageDTO">
		insert into userImage values(seq_userimage.nextval, #{imageName}, #{imageContent}, #{image1})
	</insert>
	
	<!-- 업로드 목록 -->
	<select id="getUploadForm_AJax_list" resultType="user.bean.UserImageDTO">
		select * from userimage order by seq desc
	</select>
	
</mapper>