.TodoList {}
.TodoList li {padding: 15px 30px; border-bottom: 1px solid #dcdcdc; background: tomato;}
.TodoList li span {margin-right: 20px; font-size: 16px; color: #fff ; cursor: pointer;}
.TodoList li em {color: #fff; cursor: pointer;}
.TodoList li button {float: right; width: 80px;}

.TodoList li.on span {color: yellow;}
.TodoList li.on em {color: yellow ; text-decoration: line-through;}